ul				{ margin: 0;
				  padding: 0;
				  list-style:none;
				  float:left;
				  z-index: 2;}
				
ul li			{ width: 100px;
				  height: 50px;
				  line-height: 50px;
				  font-size: 20px;
				  text-align: center;
				  position: relative;
				  font-weight: bold;
				  color: white;
				  background-color: #dddddd; }
				  
ul li:hover		{ background-color:yellow; }
				  
ul li:hover	ul	{ display: block;
				  position: absolute;
				  top: 0;
				  left: 100px; }


ul li ul		{ display: none; }